.posts {
  list-style: none;
  padding: 0;
}
.posts li {
  width: 100%;
  padding: 12px 0;
}
.posts li:hover {
  background-color: #edeef0;
}
.posts .post-title {
  margin: 0 0 8px 0;
  width: 90%;
}
.posts .post-title:hover {
  text-decoration: none;
}
.posts .post-title:visited {
  color: #9b9b9b;
}
.posts .post-info span {
  font-size: 12px;
  margin-right: 10px;
  color: rgb(170, 170, 170);
}
.bookmark-btn.link {
  color: rgb(170, 170, 170);
  font-size: 12px;
}

/* darkmode styles */
.darkmode .posts li:hover {
  background-color: #1c1c1c;
}
