.posts {
  list-style: none;
  padding: 0;
}
.posts li {
  width: 100%;
  padding: 12px 0;
}
.posts li:hover {
  background-color: #edeef0;
}
.posts a:hover {
  text-decoration: none;
}
.posts .post-title {
  margin: 0 0 8px 0;
  width: 90%;
}
.posts .post-info {
  color: rgb(170, 170, 170);
  font-size: 12px;
}
.posts .post-info span {
  margin-right: 10px;
}
