.header {
  padding: 10px 20px 0 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
}
.links-right a {
  margin-right: 5px;
}

a.btn {
  background: #edeef0;
  padding: 5px 10px;
  color: #000;
}
.btn:hover {
  opacity: 0.9;
  text-decoration: none;
}

.btn.action {
  background-color: #0079d3;
  color: #fff;
}
.menu-btn {
  background: none;
  border: none;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  margin: 6px 10px 0 0;
}

@media (max-width: 800px) {
  .menu-btn {
    display: inline;
  }
}
