.header {
  padding: 10px 20px 0 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
}
.links-right a {
  margin-right: 5px;
}

.btn {
  background: #edeef0;
  padding: 5px 10px;
}

.btn.action {
  background-color: #0079d3;
  color: #fff;
}
