.sidebar {
  min-width: 330px;
  min-height: 100vh;
  padding: 0 1%;
  background-color: #edeef0;
}
.sidebar .sidebar-top {
  height: 56px;
  margin-left: 48px;
  padding-top: 30px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  list-style: none;
}
.sidebar ul a {
  line-height: 30px;
}
.sidebar ul a.selected {
  color: #18191a;
  font-weight: bold;
}
.sidebar ul li.divider {
  margin: 20px 0;
  height: 1px;
  background: linear-gradient(to right, #dcdcdc, rgba(206, 41, 41, 0));
}
.fixed-container {
  position: fixed;
}
.sidebar li.settings {
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    width: 50%;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }
  .sidebar.show {
    transform: translateX(-20px);
  }
}

/* Darkmode styles */
.darkmode .sidebar {
  background-color: #1c1c1c;
}
.darkmode .sidebar ul a.selected {
  color: #dcdcdc;
}
