body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #18191a;
}
h1,
h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #18191a;
}
a:hover {
  text-decoration: underline;
}
button.link {
  display: block;
  border: none;
  cursor: pointer;
  color: #555a5a;
  line-height: 30px;
}
button.link:hover,
button.link:focus {
  text-decoration: underline;
  outline: none;
}
